<section class="word-list-manager-section">
  <h2>Wortlisten verwalten</h2>

  <div class="list-creation">
    <input type="text" [(ngModel)]="newListName" placeholder="Name der neuen Liste">
    <button (click)="createList()">Liste erstellen</button>
  </div>

  <div class="list-selection">
    <h3>Ihre Listen:</h3>
    <div *ngIf="wordLists.length === 0">Noch keine Listen erstellt.</div>
    <div class="list-buttons">
      <button *ngFor="let list of wordLists"
              [class.selected]="selectedList && selectedList.id === list.id"
              (click)="selectList(list)">
        {{ list.name }} ({{ getWordCountForList(list.id) }})
      </button>
    </div>
  </div>

  <div *ngIf="selectedList" class="selected-list-details">
    <h3>{{ selectedList.name }}</h3>
    <button class="delete-list-btn" (click)="deleteList(selectedList.id)">Liste löschen</button>

    <h4>Wörter in dieser Liste:</h4>
    <div *ngIf="wordsInSelectedList.length === 0">Noch keine Wörter in dieser Liste.</div>
    <div id="word-list-container">
      <div *ngIf="wordsInSelectedList.length === 0">
        <p>Noch keine Wörter in dieser Liste.</p>
      </div>
      <div *ngFor="let word of wordsInSelectedList" class="word-item">
        <div>
          <strong>{{ word.article && word.article !== 'None' ? word.article + ' ' : '' }}{{ word.reflexive ? 'sich ' : '' }}{{ word.originalWord }}<small *ngIf="word.preposition"> ({{ word.preposition }})</small><small *ngIf="word.kasus && word.kasus !== 'None'"> ({{ word.kasus }})</small></strong>: {{ word.translation }}
          <br>
          <small *ngIf="word.description">{{ word.description }}</small>
          <br>
          <div class="learn-status">
              <div class="learn-status-bar">
                  <div class="learn-status-progress" [style.width.%]="(word.learnStatus || 0) / MAX_LEARNING_LEVEL * 100"></div>
              </div>
              <span>{{ (word.learnStatus || 0) / MAX_LEARNING_LEVEL * 100 | number:'1.0-0' }}%</span>
          </div>
        </div>
        <div class="word-item-actions">
          <button class="learn-btn" (click)="iKnowThisWord(word)">Ich weiß es!</button>
          <button class="reset-btn" (click)="resetLearningLevel(word)">Zurücksetzen</button>
          <button class="delete-btn" (click)="deleteWord(word.id)">🗑️</button>
        </div>
      </div>
    </div>
  </div>
</section>