<section class="manage-vocabulary-section">
  <h2>Vokabeln verwalten</h2>

  <nav class="sub-navigation">
    <button (click)="syncVocabulary()">Vokabeln aktualisieren</button>
    <button (click)="navigateToSubPage('word-list')" [class.active]="currentSubPage === 'word-list'">Alle Wörter</button>
    <button (click)="navigateToSubPage('manage-lists')" [class.active]="currentSubPage === 'manage-lists'">Listen verwalten</button>
    <button (click)="navigateToSubPage('manage-sources')" [class.active]="currentSubPage === 'manage-sources'">Quellen verwalten</button>
    <button (click)="navigateToSubPage('import-words')" [class.active]="currentSubPage === 'import-words'">Wörter importieren</button>
  </nav>

  <div class="sub-page-content">
    <app-import-words *ngIf="currentSubPage === 'import-words'"></app-import-words>
    <app-word-list *ngIf="currentSubPage === 'word-list'"></app-word-list>
    <app-word-list-manager *ngIf="currentSubPage === 'manage-lists'"></app-word-list-manager>
    <app-source-manager *ngIf="currentSubPage === 'manage-sources'"></app-source-manager>
  </div>
</section>