#word-list-heading {
    color: var(--text-color-dark); /* Dark grey */
}

.word-list-section {
    color: var(--text-color-medium);
}

#search-box {
    background-color: var(--background-color-dark-gray); /* Darker color for input window */
    border: 1px solid var(--border-color-dark);
    color: var(--text-color-dark);
}