.quiz-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.quiz-list-selection {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quiz-list-selection label {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--text-color-gray); /* Dark gray for better visibility */
}

.card 
{
    background-color: var(--card-background-color-quiz);
    backdrop-filter: blur(9px);
 }

 .option-btn
 {
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
 }

.error-message {
    background-color: var(--error-background-color); /* Pastel Red */
    color: var(--error-text-color); /* Darker red for text for readability */
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

.quiz-start-row {
    display: flex;
    align-items: baseline;
    gap: 10px;
    width: 100%;
}

.quiz-start-row select {
    flex-grow: 1;
}

.quiz-start-row select,
.quiz-start-row button {
    height: 40px;
    box-sizing: border-box;
    align-items: center;
}

.quiz-section{
    color: var(--text-color);
}

.quiz-section .card h2 {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-description{
    height: 5px;
}

button {
    font-weight: 600;
    background-color: var(--button-background-color-quiz);
    border-color: var(--text-color-light);
    border: solid 1px;
    color: var(--text-color-light);
}